* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  display: grid;
  align-content: center;
  background-color: #1E293B;
  min-height: 100vh;
}

.tags__component{
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
}

.tags__title {
  margin-top: 0;
  font-size: 2.4rem;
  color: #fff;
}

.tags__zone {
  display: flex;
  flex-wrap: wrap;
  background-color: #334155;
}

.tags__input {
  flex-grow: 1;
  padding: 0.75em;
  font-size: 1.2rem;
  background-color: #334155;
  border: 0;
  outline: none;
  color: #fff;
}

.tags__wrapper {
  display: flex;
  gap: 0.25em;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  justify-content: center;
  padding: .25em;
  min-width: 50px;
  align-items: center;
  font-size: 1.1rem;
  background-color: #92A2B8;
  animation: fadeIn 0.50s ease-in;
}

.tag span {
  margin-bottom: 1em;
  align-self: flex-start;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.tag span:hover {
  border-radius: 50%;
  background-color: #cccccc;
}


.tag.fadeOut {
  animation: fadeOut 0.25s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
